absl-py==1.0.0
ai2thor==4.2.0
ale-py==0.7.4
astor==0.8.1
astunparse==1.6.3
aws-requests-auth==0.4.3
botocore==1.24.35
cached-property==1.5.2
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
cloudpickle==1.3.0
ConfigArgParse==1.5.3
cycler==0.11.0
Flask==2.1.1
flatbuffers==2.0
fonttools==4.31.2
future==0.18.2
gast==0.2.2
google-auth==2.6.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.44.0
gym==0.21.0
gym-notices==0.0.6
h5py==3.6.0
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.6.0
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.0
joblib==1.1.0
keras==2.8.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.2
libclang==13.0.0
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.5.1
msgpack==1.0.3
numpy==1.21.5
oauthlib==3.2.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
Pillow==9.1.0
progressbar2==4.0.0
protobuf==3.20.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygame==2.1.0
pyglet==1.5.0
pyparsing==3.0.7
python-dateutil==2.8.2
python-utils==3.1.0
python-xlib==0.31
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
sb3-contrib @ git+https://github.com/Stable-Baselines-Team/stable-baselines3-contrib@c32bb74fba2ea6690f0e71d395ddd2162b82db40
scipy==1.7.3
six==1.16.0
stable-baselines3==1.5.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-estimator==1.15.1
tensorflow-io-gcs-filesystem==0.24.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
torch==1.11.0
torchvision==0.12.0
typing_extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.1.1
wrapt==1.14.0
zipp==3.8.0
